/* * {
    outline: dotted;
} */

body {
    
    margin: 0 auto;
    width: 1000px;
    background-color: rgb(188, 207, 170);
}   
main {
    text-align: center;
    background-color: darkblue;
    color: oldlace;
}
header {
    margin-bottom: 10 px;
}
h1 {
    text-align: center;
    background-color: yellow;
    color: teal;
    font-size: 90px;
}
section p { color: rgb(240, 235, 229);
}
h4 {font-size: 20px;}
footer {
    background-color: rgb(241, 137, 99);
    color: rgb(95, 39, 67);
    font-size: 50 px;
    text-align: left;
}