body {
    
    margin: 0 auto;
    width: fit-content;
    background-color: rgb(188, 207, 170);
}   
main {
    font-size: 50px;
    text-align: center;
    background-color: rgb(208, 208, 221);
    color: rgb(104, 80, 37);
}
header {
    margin-bottom: 10 px;
}
h1 {
    text-align: center;
    background-color: rgb(109, 109, 53);
    color: azure;
    font-size: 90px;
}
section p { color: rgb(240, 235, 229);
}
h3 {font-size: 55px;}
h4 {font-size: 55px;}
h5 {font-size: 55px;}
ul {font-size: 35px;}
ol {font-size: 35px;
    text-align: justify;
}
footer {
    background-color: rgb(26, 39, 26);
    color:chocolate;
    font-size: 70 px;
    text-align: center;
}
div {   background-color: black;
        color: black;
}
.parent{
    position: relative;
    top: -10;
}